<!DOCTYPE html>
<html>
<head>

<title>Vestview</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">

     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bower_components/highcharts/css/highcharts.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/chart.css') }}">
</head>

<body>
    <div class="nav-content">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                <i class="glyphicon glyphicon-search"></i> Back to Search
              </a>
            </div>
             <!-- hiding this for now <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Register</a></li>
               <li class="white-button"><a href="#">Sign In</a></li>
               <li><img class='logo' src={{ url_for('static', filename='imgs/vestview-logo.png') }}/></li>
              </ul> -->
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </div>

    <!-- HighStocks Chart Div -->
    <div class="flex-container">
      <div id="stockchart"></div>
    </div>


    <script>
      var series = {{ series|safe }}
      var title = {{ title|safe }}
    </script>

    <!--<script src={{ url_for('static', filename='./bower_components/jquery/dist/jquery.min.js') }}></script> -->
    <script type="text/javascript", src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src={{ url_for('static', filename='./bower_components/bootstrap/dist/js/bootstrap.min.js') }}></script>
    <!--
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src={{ url_for('static', filename='./bower_components/highstock/js/modules/exporting.src.js') }}></script> -->

    <!--
    <script src={{ url_for('static', filename='./bower_components/highstock/js/highstock.src.js') }}></script> -->

    <!-- <script src={{ url_for('static', filename='./bower_components/highcharts/js/highstock.js') }}></script> -->
    <script src={{ url_for('static', filename='js/chart.js') }}></script>
</body>
</html>
