<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <title>Vestview</title>

    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css"
     href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- Optional theme -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
     filename='bower_components/bootstrap/dist/css/bootstrap-theme.min.css') }}">

    <link rel="stylesheet" type="text/css"
     href="{{ url_for('static', filename='bower_components/jquery-ui/themes/ui-lightness/jquery-ui.css') }}">

    <link rel="stylesheet" type="text/css"
     href="{{ url_for('static', filename='css/search.css') }}">

     <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

</head>
<body>

    <nav class="navbar transparent navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand", href="#">Vestview</a>
            </div>
        </div>
    </nav>

    <div class="featurette">
       <div class="featurette-inner text-center">
          <h1 id="vestview-header">VestView</h1>
          <h4 id="timestamp"></h4>
          <form role="form" class="search" id='stock-search-form'>
             <div class="input-group input-group-lg">
                <input type="search" placeholder="Search for any S&P500 Company" class="form-control autocomplete">
                <span class="input-group-btn">
                <button class="btn" id="stock-search-btn" type="button">Search</button>
                </span>
             </div>
             <!-- /input-group -->
          </form>
          <!-- /.max-width on this form -->
        </div>
        <!-- /.featurette-inner (display:table-cell) -->
    </div>
    <!-- Centered search box end-->


    <script src={{ url_for('static', filename='./bower_components/jquery/dist/jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/bootstrap/dist/js/bootstrap.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/jquery-ui/jquery-ui.js') }}></script>
    <script src={{ url_for('static', filename='js/search.js')}}></script>

    <!-- Get dynamic data from flask application -->
    <script type="text/javascript">
        var data = {{autocompleteData | tojson}};
    </script>

</body>
</html>
